.item {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.link {
  margin-left: 10px;
  opacity: 1;
}

.icon {
  fill: var(--inverted-primary-color);
  min-width: 20px;
  min-height: 20px;
}

.collapsed {
  .link {
    opacity: 0;
    transition: 0.2 opacity;
  }
}
